*, *:before, *:after {
	box-sizing: border-box;
}
body {
	text-align: center;
	font-size: 24px;
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;
}

.view {
	width: 100vw;
	height: 100vh;
}

.view > h1 {
	font-size: 28px;
	margin: 0px;
	padding: 15px 10px 10px;
	text-align: center;
	background: black;
	color: white;
}

input[placeholder="game-code"] {
	text-transform: uppercase;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h3 {
	margin: 0px;
}

.form-view {
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.form-group {
	padding: 20px 0px;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	max-width: 450px;
	width: 100%;
	margin: 0px auto;
}
.form-group:nth-child(1) {
	margin-top: 0px;
	padding-top: 0px;
	border-top: none;
}
.form-group > * {
	margin-bottom: 5px;
}

#host {
	background: #E2CA7D;
}

#host:before {
	content: "";
	background: #9BD0E2;
	display: block;
	height: 200px;
	margin-bottom: -200px;
}

input {
	padding: 10px 20px;
	line-height: 20px;
	vertical-align: middle;
	outline: none;
	font-size: 14px;
	border: 1px solid #CCC;
    border-radius: 0px;
    -webkit-appearance: none;
    font-size: 24px;
}

button {
	padding: 20px 30px;
	font-size: 24px;
	line-height: 20px;
	vertical-align: middle;
	color: white;
	text-transform: uppercase;
	background: #008DD4;
	border: none;
	cursor: pointer;
}

button.green {
	background-color: #7EB74A;
}

.sky {
	background: #9BD0E2;
	margin: -48px 0px 20px;
	padding-top: 50px;
}

.ground {
	background: #E2CA7D;
	height: 100px;
	margin: -50px 0px 0px;
}

