*, *:before, *:after {
	box-sizing: border-box;
}
body {
	text-align: center;
	font-size: 24px;
	margin: 0px;
	font-family: 'Josefin Sans', sans-serif;
}

.view {
	width: 100vw;
	height: 100vh;
	& > h1 {
		font-size: 28px;
		margin: 0px;
		padding: 15px 10px 10px;
		text-align: center;
		background: black;
		color: white;
	}
}

a {
	cursor: pointer;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h3 {
	margin: 0px;
}

.form-view {
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.form-group {
	padding: 20px 0px;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	max-width: 450px;
	width: 100%;
	margin: 0px auto;
	&:nth-child(1) {
		margin-top: 0px;
		padding-top: 0px;
		border-top: none;
	}
	& > * {
		margin-bottom: 5px;
	}
}

input {
	padding: 10px 20px;
	line-height: 20px;
	vertical-align: middle;
	outline: none;
	font-size: 14px;
	border: 1px solid #CCC;
    border-radius: 0px;
    -webkit-appearance: none;
    font-size: 24px;
}

.btn {
	padding: 10px 30px;
	font-size: 24px;
	line-height: 30px;
	vertical-align: middle;
	color: white;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.45);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border: none;
	cursor: pointer;
    border-radius: 0px;
    -webkit-appearance: none;
    
	&:hover { background: rgba(0, 0, 0, 0.65); }
	&.blue { background-color: #008DD4; }
	&.blue:hover { background-color: #0277B2; }
	&.green { background-color: #7EB74A; }
	&.green:hover { background-color: #628F39; }

	&.block { display: block; }
}

